<div class="row">
    <div class="col-sm-8">
        <img src="assets/headerImg.png" (click)="homePage()">
    </div>
    <div class="col-sm-4 contact">
        <div id="contactSquare">
            <h5>Contact Us At 0522-327244
                <br/> or by email - talmor1989@gmail.com</h5>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-sm-10">
        <h5 *ngIf="shoppingPage"> Search product:
            <input [(ngModel)]="prod" (ngModelChange)="searchProd($event)" id="searchInput" type="text" placeholder="Product Name..">
        </h5>
    </div>
    <div class="col-sm-2">

        <h5 id="welcomeP"> Hello
            
            <span *ngIf="loggedIn else notLoggedIn"> {{loggedInUser}}    <input type="button" value="Logout" class="btn btn-success" (click)="logOut()"></span>
            <ng-template #notLoggedIn>
                <span> Guest</span>
            </ng-template>
        </h5>
      
    </div>
</div>