.cart {
    height: 75%;
}

input[type=button] {
    float: right;
}
.plusIcon {
    float:right;
    cursor: pointer;
}
#headline {
    border-bottom: 1px solid black;
    text-align:center;
}
.cartImage {
    max-height: 25px;
}
.fa-trash-alt {
    visibility: hidden;
}
.cartItems:hover .fa-trash-alt {
    visibility: visible;
}
.editImage {
    max-width: 50px;
}
.table {
    width: 100%;
}