<div *ngIf="!admin;else addItem">
    <h2>My Cart 
        <i *ngIf="minimize" (click)="minimizeCart()" class="plusIcon fas  fa-minus"></i> 
     
    </h2>
    <hr>
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">Image</th>
            </tr>
        </thead>
        <tbody>
            <tr class="cartItems" *ngFor="let cartitem of userCart">
                <th>{{cartitem.productname}}</th>
                <td>{{cartitem.ammount}}</td>   
                <td>{{cartitem.price | currency: 'ILS'}}</td>
                <td>
                    <img class="cartImage" [src]="cartitem.image">
                    <i class="far fa-trash-alt" (click)="deleteFromCart(cartitem.productid,cartitem.cartid,cartitem.productname)" aria-hidden="true"></i>
                </td>
            </tr>
            <tr class="cartTotal">
                <th>Total Items -</th>
                <td>{{totalItems}}</td>
                <td>{{totalPrice | currency: 'ILS'}}</td>
                <td>
                    <input type="button" class="btn btn-primary" value="Checkout" (click)="makeOrder()">
                </td>
            </tr>

        </tbody>
    </table>
    <button class="btn btn-danger" (click)="deleteAllItemsFromCart()" >Delete all items from cart</button>
</div>

<ng-template #addItem>
    <div class="addEditMode">
        <h5> Add\Edit Product
            <i (click)="addProductMode()" class="plusIcon fas fa-2x fa-plus"></i>
        </h5>
        <hr>
        <form *ngIf="addMode" [formGroup]="addProductForm" (ngSubmit)="addNewProduct()">
            <h6 id="headline">Add new product</h6>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-3">
                        <label for="city">Product Name:</label>
                    </div>

                    <div class="col-sm-9">
                        <input type="text" formControlName="productname" class="form-control">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-sm-3">
                        <label for="price">Product Price</label>
                    </div>
                    <div class="col-sm-3">
                            <input type="number" class="form-control" formControlName="price">
                        </div>
                        <div class="col-sm-6">
                            <span>
                                <i class="fas fa-shekel-sign"></i>
                            </span>
                        </div>
                </div>
            </div>


            <div class="form-group">
                <div class="row">
                    <div class="col-sm-3">
                        <label for="image">Picture: </label>
                    </div>
                    <div class="col-sm-9">
                        <input type="file" id="file" class="form-control" formControlName="image">
                    </div>
                </div>

            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-3">
                        <label for="categoryid">Product Category: </label>
                    </div>
                    <div class="col-sm-9">
                        <select class="form-control" formControlName="categoryid">

                            <option *ngFor="let categories of categories">{{categories.categoryid}} - {{categories.categoryname}}</option>

                        </select>
                    </div>
                </div>
            </div>
            <button type="submit" id="orderBut" class="btn btn-primary">Save!</button>
        </form>
        <form *ngIf="editMode" [formGroup]="editProductForm" (ngSubmit)="editProductInDb()">
            <h6 id="headline">Edit product</h6>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-3">
                        <label for="city">Product Name:</label>
                    </div>

                    <div class="col-sm-9">
                        <input type="text" formControlName="productname" class="form-control">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-sm-3">
                        <label for="price">Product Price</label>
                    </div>
                    <div class="col-sm-3">
                        <input type="number" class="form-control" formControlName="price">
                    </div>
                    <div class="col-sm-6">
                        <span>
                            <i class="fas fa-shekel-sign"></i>
                        </span>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <div class="row">
                    <div class="col-sm-3">
                        <label for="image">Upload New Image: </label>
                    </div>
                    <div class="col-sm-9">
                        <input type="file" id="file" class="form-control" formControlName="image">
                    </div>

                </div>

            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-3">
                        <label for="categoryid">Product Category: </label>
                    </div>
                    <div class="col-sm-3">
                        <select class="form-control"  formControlName="categoryid">

                            <option *ngFor="let categories of categories">{{categories.categoryid}} </option>

                        </select>
                    </div>
                    <div class="col-sm-6">
                        <ul>
                            <li *ngFor="let categories of categories"> {{categories.categoryid}} - {{categories.categoryname}}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <button type="submit"  class="btn btn-primary">Edit Product</button>
        </form>
    </div>
</ng-template>

<div *ngIf="updated"> <h3> Item Successfully Updated.</h3></div>
<div *ngIf="added"> <h3> Item Successfully Added.</h3></div>
