<div class="container">
  <div *ngIf="loggedIn" class="startShoppingButton">
    <h3>
      <button class="btn btn-primary" (click)="shoppingPage()" *ngIf="startShopping">Start Shopping</button>
      <button class="btn btn-primary" (click)="shoppingPage()" *ngIf="resumeShopping">Resume Shopping</button>
      <button class="btn btn-primary" (click)="shoppingPage()" *ngIf="adminMode">Manage Shop</button>

    </h3>
  </div>
  <div *ngIf="!loggedIn" class="loginSignup">
    <p>
      <strong> Registered?</strong>
    </p>
    <form [formGroup]="signInForm" (ngSubmit)="checkLogin()">
      <div class="form-group">
        <label for="loginEmail">Email address</label>
        <input type="email" class="form-control" formControlName="loginEmail" aria-describedby="emailHelp" placeholder="Enter email">

      </div>
      <div class="form-group">
        <label for="loginPassword">Password</label>
        <input type="password" class="form-control" formControlName="loginPassword" placeholder="Password">
      </div>

      <button type="submit" class="btn btn-primary">Login</button>
      <!-- <input type="button" value="register" (click)="check()" class="ml-3 btn btn-secondary"> -->

      <a href="#" class="ml-3 openBtn btn" data-toggle="modal" data-target="#registerModal">
        Sign Up
      </a>
    </form>


    <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="registerModalLabel">Register - Step 1</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span class="closeBtn" aria-hidden="true">&times;</span>
            </button>
          </div>

          <form [formGroup]="signUpForm" (ngSubmit)="sendForm()">
            <div id="step1">
              <div class="modal-body">


                <label for="id">ID card</label>
                <input type="number" (blur)="checkUserId()" class="form-control" id="cardid" formControlName="id" placeholder="Enter your ID card">
                <small class="errorMsg" *ngIf="wrongId">Sorry, seems like someone already registered with that id.</small>
                <br/>
                <label for="Email">E-mail</label>
                <input type="email" (blur)="checkUserEmail()" class="form-control" formControlName="email" placeholder="Enter Valid E-mail">
                <small class="errorMsg" *ngIf="wrongEmail">Sorry, seems like someone already registered with that email.</small>
                <br/>
                <small class="errorMsg" *ngIf="invalidEmail">Invalid Email Address</small>
                <br/>
                <label for="password">Password</label>
                <input type="password" class="form-control" formControlName="password" placeholder="Password">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" (keyup)="checkPass(this)" (blur)="checkPass(this)" class="form-control" id="confirmPassword" placeholder="Confirm Password">
                <small class="errorMsg" *ngIf="wrongPassword">Please type the same password for confirmation.</small>
                <br/>


              </div>

              <div class="modal-footer">
                <button type="button" class="closeBtn btn btn-secondary" data-dismiss="modal">Close</button>
                <button *ngIf="!valid" type="button" disabled class="btn btn-primary btnEndStep1">NEXT STEP</button>
                <button *ngIf="valid" type="button" (click)="nextStep()" class="btn btn-primary btnEndStep1">NEXT STEP</button>

              </div>
            </div>
            <div id="step2" class="hideMe">
              <div class="modal-body">
                <label for="city">City</label>
                <select class="form-control" formControlName="city">
                  <option selected>Tel Aviv</option>
                  <option>Jerusalem</option>
                  <option>Haifa</option>
                  <option>Netanya</option>
                  <option>Rehovot</option>
                  <option>Rishon Le-Ziyyon</option>
                  <option>Ramat-Gan</option>
                  <option>Eilat</option>
                  <option>Akko</option>
                  <option>Savyon</option>
                </select>
                <label for="userStreet">Street</label>
                <input type="text"  class="form-control" formControlName="street" placeholder="Street address">
                <label for="firstName">First Name</label>
                <input type="text"  class="form-control" formControlName="name" placeholder="First Name">
                <label for="lastName">Last Name</label>
                <input type="text"  class="form-control" formControlName="lastname" placeholder="Last Name">


              </div>
              <div class="modal-footer">

                <input type="button" value="Go Back" class="btn btn-secondary" (click)="backToStep1()">
                <input *ngIf="!signUpForm.valid" type="submit" class="btn btn-primary" id="btnEndStep2" disabled value="Submit">
                <input  *ngIf="signUpForm.valid" type="submit" class="btn btn-primary" id="btnEndStep2"  value="Submit">

              </div>

            </div>
            <div id="step3" class="hideMe">
              <div class="modal-body">
                <h2>Registered successfully! You can now login. </h2>
              </div>
              <div class="modal-footer">


                <span class="closeBtn" aria-hidden="true">&times;</span>

              </div>
            </div>
          </form>

        </div>
      </div>


    </div>

  </div>
</div>