<div *ngIf="loggedIn; else notLoggedIn">
<div class="container mt-5">
    <div *ngIf="!orderMade">
  <div class="row">
    
    <div class="cart col-sm-6"><app-finalcart></app-finalcart></div>
    <div class="details col-sm-6"><app-details></app-details></div>
  
  </div>
</div>
<div *ngIf="orderMade">
  <h1 style="text-align:center"> Thank you for shopping with us. Your order was made. to download receipt press here: <button (click)="viewReceipt()" class="btn btn-sm btn-success">Receipt</button></h1>
</div>
</div>
</div>
<ng-template #notLoggedIn>
  <h1>Sorry, you have to log in to continune</h1>
  <input type="button" value="Go back to login page" class="btn btn-primary" (click)="loginPage()">
</ng-template>
