<div (click)="buyOrEditProduct(product.id)" class="product col-sm-8">

    <img src="{{product.image}}">
    <span class="productPrice">{{product.price | currency:'ILS'}} </span>
    <br/>
    <span class="productName">{{product.productname}}</span>
</div>