.mainCont , .cart , .prod {
   

    width: 100%;
    max-height: 500px;
    overflow-x: hidden;
}
.prod {
    overflow-y: scroll;
    overflow-x: hidden;
}

.cart {
    background-color: lightgray;
    border: 2px solid black;
}