<div *ngIf="loggedIn; else notLoggedIn">
<div class="mainCont">
  <div class="row">
    <div class="cart col-sm-4 appCart" >  <app-cart></app-cart></div>
    <div class="prod col-sm-8 appProd" style="border: 2px solid lightcoral">    <i *ngIf="maximize" (click)="maximizeCart()" class="plusIcon fas fa-2x  fa-plus"></i> <app-products></app-products> </div>
  </div>

</div>
</div>
<ng-template #notLoggedIn>
  <h1>Sorry, you have to log in to continune</h1>
  <input type="button" value="Go back to login page" class="btn btn-primary" (click)="loginPage()">
</ng-template>
