<img src="assets/mysupermarket.png">


<div *ngIf="adminMode">
        <h2>Welcome {{name}} !</h2>
    </div>
<h4> Total products in our store: {{totalProds}} </h4>
<h4> Total Orders Made in our store: {{totalOrders}} </h4>
<div class="loggedInInfo" *ngIf="loggedIn" >
        <div *ngIf="firstShop"> 
            <h4> Welcome to your first shop! enjoy our platform :)</h4>
        </div>
        <div *ngIf="resumeShopping">
            <h4> You still got an open cart! you left it on: {{lastCartOpened | date}} and current price is:{{price | currency:'ILS' }}</h4>
        </div>
        <div *ngIf="notFirstShop">
                <h4> Hello {{name}} Welcome back! your last order was on: {{orderdate | date}}</h4>
        </div>
</div>

   
