<div>
  <ul class="categoriesUl">
    <li class="categories"> <button class="btn btn-info" id="0" (click)="getCategory(0)"> All Items </button>  | </li>
    <li *ngFor="let categories of categories" class="categories"> <button class="btn btn-info" id={{categories.categoryid}} (click)="getCategory(categories.categoryid)"> {{categories.categoryname}} </button>  | </li>
  </ul>  

</div>