.categories {
    display: inline;
    font-size: 25px;
    margin-left: 20px;
    
}
.categoriesUl {
    text-align:center;
    border-bottom: 1px solid black;
    background-color: lightskyblue    
}