<!-- <tr class="cartItems">
    <img class="cartImage" [src]="cartItem.image">
    <th>{{cartItem.productname}}</th>
    <td>{{cartItem.ammount}}</td>
    <td>{{cartItem.price | currency: 'ILS'}}</td>
</tr> -->

<li appHighlight highlightColor="yellow"><img class="cartImage" [src]="cartItem.image"> {{cartItem.productname}} - Amount : {{cartItem.ammount}} - Total Price: {{cartItem.price | currency: 'ILS'}}</li>