.info {
    background-color:grey;
}
.aboutus {
    background-color: lawngreen;
}
.loginRegister {
    background-color:lightcoral;

}

.loginRegister , .aboutus , .info {
    border: 2px solid black;    
}