<div class="row mt-5">
    <div class="col-sm-4 loginRegister"  ><app-login-register></app-login-register></div>
     
    <div  class="aboutus col-sm-4" ><app-aboutus></app-aboutus></div>
    <div  class="info col-sm-4" ><app-info></app-info></div>
    
   
  </div>
