<div class="row">
    <div class="col-sm-10">
        <h4> My Cart</h4>
        <hr>
    </div>
    <div class="col-sm-2">
        <input type="button" class="btn btn-primary backtoshop" (click)="goBack()" value="Back To Shop">
    </div>
</div>
<ul>
    <app-finalcart-items *ngFor="let cartItem of userCart" [cartItem]="cartItem">Highlighted in yellow</app-finalcart-items>
</ul>
<span>
    <strong>Total price: {{totalPrice | currency :'ILS'}}</strong>
</span>