<h5>Order </h5>
<hr>
<div *ngFor="let user of loggedInUser" class="container">
  Shipping Details: 
  <hr>
  
  <form [formGroup]="maekOrderForm"  (ngSubmit)="makeOrder()">
    <div class="form-group">
      <div class="row">
        <div class="col-sm-2">
          <label for="city">City {{user.city}}</label>
        </div>

        <div class="col-sm-10">
       
        <mat-form-field>
            <mat-select required formControlName="deliverycity" placeholder="City">
              <mat-option  *ngFor="let city of cities" [value]="city">
                {{city}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        
        </div>
      </div>
    </div>
    
    <div class="row">
        <div class="col-sm-2">
          <label for="street">Street:</label>
        </div>
        <div class="col-sm-10">
    <mat-form-field >
        <mat-label>Street Address</mat-label>
        <input required formControlName="deliverystreet" [matAutocomplete]="auto" matInput placeholder="Street Address">
     
      </mat-form-field>
    
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option  [value]="user.street">
              {{user.street}}
            </mat-option>
          </mat-autocomplete>
    </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-sm-2">
      <label for="date">Date</label>
    </div>
    <div class="col-sm-10">
        <mat-form-field class="example-full-width">
            <input [min]="minDate" [max]="maxDate" formControlName="deliverydate" matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker" placeholder="Choose a date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
    </div>
  </div>
  </div>
  <div class="card-container"></div>
  <form card [formGroup]="maekOrderForm"
    container=".card-container"
    card-width="200"
    [messages]="messages"
    [placeholders]="placeholders"
    [masks]="masks"
    formatting="false"
    debug="true">
    <mat-form-field >
        <mat-label>Card Number</mat-label>
        <input formControlName="creditcard" name="number" card-number matInput placeholder="Card Number">
       
      </mat-form-field>
      <mat-form-field>
          <mat-label>First Name On Card</mat-label>
          <input  name="first-name" card-name matInput placeholder="First Name On Card">
         
      </mat-form-field>
      <mat-form-field>
          <mat-label>last Name On Card</mat-label>
          <input  name="last-name" card-name matInput placeholder="last Name On Card">
          
      </mat-form-field>
      <mat-form-field>
          <mat-label>Expiry</mat-label>
          <input name="expiry"  card-expiry matInput placeholder="Expiry Date">
      </mat-form-field>
      <mat-form-field>
          <mat-label>CVC</mat-label>
          <input name="cvc"  card-cvc matInput placeholder="CVC">
      </mat-form-field>
  

  </form>
    <button *ngIf="!maekOrderForm.valid" class="orderBut" disabled>Order!</button>
    <button  *ngIf="maekOrderForm.valid" type="submit"  class="orderBut btn btn-primary">Order!</button>
  </form>
</div>