<div class="container mt-4">
  <div class="row"> 
    <!-- <div (click)="buyOrEditProduct(product.id)" class="col-sm-2" *ngFor="let product of products">
    
      <img src="{{product.image}}">
      <span class="productPrice">{{product.price | currency:'ILS'}}  </span><br/>
      <span class="productName">{{product.productname}}</span> -->
     <app-items-list *ngFor="let product of products" [product]="product"></app-items-list>
   
  </div>
</div>

